{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block view_page_body %}
{{ header("Homepage") }}
<div class="row">
  <div class="col-lg-9">
    <div class="card mb-3">
      <div class="card-header bg-dark">
        <span class="title">NEWSFEED</span>
      </div>
      <div class="card-body pb-0">
        {% if announcements | length > 0 %}
        {% for announcement in announcements %}
        <a href="{{ url_for('user_view.home', id=announcement.id) }}" class="link text-decoration-none text-break">
          <span class="h4">{{ announcement.title }}</span>
        </a>
        <div>
          <span>Posted by {{ announcement.author.render_display | safe }}, at <b>{{ announcement.time_timezone }}</b>.</span>
          <p class="text-danger">{% if not announcement.visibility %}*This announcement is not publicly published!{% endif %}</p>
        </div>
        <p class="mb-0 card-text">
          <html>
            <body>
              {{ announcement.announcement | safe }}
            </body>
          </html>
        </p>
        <div class="d-flex flex-wrap justify-content-between mt-2 mb-4 px-1 border border-2 border-dark rounded">
          <div class="align-middle">
            <i class="bi bi-people-fill"></i> Publishers: {{ announcement.author.render_display | safe }}
          </div>
          <div>
            <i class="bi bi-clock-fill"></i> {{ announcement.time_timezone }} (<span class="time-from-now" since="{{ announcement.time_timezone }}"></span>)
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="mb-3 card-text text-center">
          <span class="error-emoji">(>_<)</span>
          <br>
          <span class="fs-4">Welp, this wall is kinda empty :(</span>
        </p>
        {% endif %}
      </div>
      <div class="card-footer">
        There {% if announcements | length == 1 %}is <b>1</b> announcement which has been{% else %}are <b>{{ announcements | length }}</b> announcements which have been{% endif %} published.
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card mb-3">
      <div class="card-header bg-dark text-center">
        <span class="title">EVENTS</span>
      </div>
      <div class="card-body text-center p-0">
        <div class="event m-0 py-4 border border-start-0 border-end-0 border-bottom-0">
          <a class="link" href="{{ url_for('user_view.contest_view', contest_code='ntmkoi_2022_remake') }}"><span class="h5">NTMKOI 2022 Remake</span></a>
          <p class="card-text text-muted">Biết gì về toán?</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}