html {
  position: relative;
  min-height: 100%;
  font-size: 15px;
  scroll-padding-top: 70px;
}

body {
  margin-bottom: 100px;
  word-wrap: break-word;
}

.user-profile-dropdown,
.user-profile-dropdown:hover {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 0, 1rem;
  color: black;
}

a {
  text-decoration: none;
  color: #1958c1;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100000;
}

.card {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-header .title {
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
}

.table p {
  margin-bottom: 0;
}

.table th a {
  color: #fff !important;
}

.table th.text-center {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.table th {
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
  height: 2em;
  background-color: #231f20;
  border-width: 0 1px 1px 0;
  border-style: solid;
  padding: 4px 10px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

.table td {
  border-width: 0 1px 1px 0;
  border-style: solid;
  padding: 5px 5px;
  vertical-align: middle;
  white-space: nowrap;
}

.table.wrapped td {
  white-space: normal;
  word-wrap: break-word;
}

.table thead:first-child tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

.table thead:first-child tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

.table tr:first-child th,
.table tr:first-child td {
  border-top-width: 1px;
}

.table th:first-child,
.table td:first-child {
  border-left-width: 1px;
}

.form-group.required .control-label:after {
  content: " *";
  color: red;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 1em 0 1.5em 0;
  padding: 1em;
  padding-right: 4em;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  color: #000;
  border-radius: 4px;
  overflow-y: hidden;
  min-height: 40px;
}

hr.close {
  margin-top: 0;
}

hr.blur {
  opacity: 20%;
}

hr.close-divider {
  margin: 0.5rem 0;
}

a.submit-btn {
  margin-bottom: 0.5rem;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

textarea.non-resizable {
  resize: none;
}

:not(pre) > code {
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  border-radius: 4px;
  font-size: 0.95em;
  color: #444;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.rgb {
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #3f4045;
}

::-webkit-scrollbar-thumb {
  background: rgb(221, 221, 221, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(221, 221, 221);
}

.unselectable,
.katex {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.editorial-comprehension p {
  margin-bottom: 0;
}

.clipboard-pre {
  margin-top: 1em;
  position: relative;
}

.clipboard-pre-button {
  display: block;
  top: 0;
  right: 0;
  font-size: 12px;
  font-weight: 700;
  color: #767676;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px;
  position: absolute;
  padding: 5px 8px;
}

.navbar {
  z-index: 100000 !important;
}

.sidebar {
  height: 100%;
  width: 15vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding: 60px 10px;
}

.sidebar * {
  color: #eee;
}

.main {
  margin-left: 15vw;
  padding: 0px 10px;
}

.main-body {
  padding-top: 50px;
}
