{% extends "base.html" %}
{% block title %}Tournament 2023{% endblock %}

{% block view_page_body %}
<p><em>*Hãy đọc thông báo <strong>#2: Tournament</strong> để hiểu rõ hơn về Tournament tháng $8/2023$ này và biết thêm chi tiết!</em></p>

<div class="text-center">
  <h4>The Tempura Tournament 2023</h4>
  held by <b class="rgb">TomChienXuOJ System</b> x <b>Chà Bông Contest & Tournament Distribution</b>
</div>

<p>Đây là giải đấu Ao làng được tổ chức bởi <strong>Hệ thống Phân phối và Tổ chức Kỳ thi và Giải đấu Chà Bông</strong> kết hợp với nền tảng <b class="rgb">TomChienXuOJ System</b> nhằm mục đích tạo sân chơi giáo dục cho mọi người và các con dân thích sục của tổ chức <strong>Together CPP</strong>.
  Theo thông tin chính thức, kỳ thi này ban đầu sẽ được tổ chức qua $4$ stages với tổng cộng $8$ thí sinh, được phân theo format dưới đây:</p>

<ul>
  <li><strong>Group Contest</strong>: Vòng bảng. Phân ra thành $2$ bảng, mỗi bảng $4$ người. Mỗi bảng sau đó chọn ra $3$ người có hệ số điểm cao nhất để chọn vào vòng tiếp theo;</li>
  <li><strong>Ascension Contest</strong>: Vòng thăng hạng. Những người qua được vòng bảng sẽ được chia lại bảng rồi tiếp tục tương tự như <strong>Group Contest</strong>. Điểm khác biệt đó chính là thay vì chọn những người đầu bảng, ta lấy $2$ người xếp cuối của mỗi bảng để xếp vào nhóm <strong>Last Chance Qualifier Contest</strong>. Người đầu bảng theo hệ số được coi là kèo trên, chắc chắn được xếp vào <strong>Champion Contest</strong> ở <em>Upper Bracket</em>;</li>
  <li><strong>Last Chance Qualifier Contest</strong>: Vòng xét tấm vé cuối cùng. $4$ người bị xếp vào <strong>LCQ Contest</strong> sẽ được chia lại bảng rồi tiếp tục tương tự như <strong>Group Contest</strong>. Chọn ra $2$ tấm vé vào vòng <strong>Champion Contest</strong>;</li>
  <li><strong>Champion Contest</strong>: Vòng chung kết. Diễn ra theo thể thức <em>Double Elimination (Nhánh thắng Nhánh thua)</em>, từ đó xếp hạng theo hệ số.</li>
</ul>

<ol>
  <li>Giải thưởng: <em>Trên dưới 500 củ khoai môn!111!!1!!!!!11!!1!!!111111!1 (cụ thể 10k VNĐ Momo)</em>;</li>
  <li>Ngày khởi tranh: Chưa được công bố;</li>
  <li>Lịch đấu: Chưa được công bố.</li>
  <li>Mỗi sub-contest của tournament này sẽ bao gồm $3$ problems, trong đó:
    <strong>*Lưu ý</strong>: <em>Các problems có thể kèm theo các kiến thức liên quan đến Toán học, Vật lý, Hóa học, Sinh học. Nếu có thì chắc chắn đề bài sẽ giải thích các kiến thức ấy.</em>
    <ul>
      <li>$1$ problem Ad-hoc;</li>
      <li>$1$ problem thuộc dạng thuật toán (cơ bản hoặc trung bình);</li>
      <li>$1$ problem thuộc dạng thuật toán (trên mức trung bình hoặc nâng cao).</li>
    </ul>
  </li>
</ol>

<p>Dưới đây là thể thức giải đấu sắp tới (trong giai đoạn hoàn thiện, lịch đấu và thể thức có thể bị thay đổi bất cứ lúc nào):
  <img src="https://media.discordapp.net/attachments/1137756649059254272/1137756708224106536/Bracket_Information.jpg" alt="Bracket Information" />
</p>
{% endblock %}